@using System.Configuration
@{
    var title = "SignalR FileSystem Watcher";
    var folder = ConfigurationManager.AppSettings["FolderToWatch"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">@title</h1>
        <p class="lead">A C# website using SignalR and FileSystemWatcher to immediately notify clients for FileSystem changes</p>
        <hr class="my-4">
        <p>Please modify files/folders in <strong>@folder</strong>)</p>
    </div>
    <h2>Console:</h2>
    <ul id="console" class="list-group">
    </ul>
</div>


    <script type="text/javascript">
        $(function () {
            var fileSystem = $.connection.fileSystemHub;
            var createItem = function (fileSystemEventArgs) {
                return '<li class="' + getClassNameByEvent(fileSystemEventArgs.ChangeType) + '">' + fileSystemEventArgs.ChangeType + ' - ' + fileSystemEventArgs.FileName + '</li>';
            };
            fileSystem.client.notifyEvent = function (fileSystemEventArgs) {
                $("#console").prepend(createItem(fileSystemEventArgs));
            };

            fileSystem.client.notifyError = function (errorEventArgs) {
                alert(errorEventArgs.Exception);
            };

            // Start the connection.
            $.connection.hub.start().done(function () { });

            function getClassNameByEvent(event) {
                var className = "list-group-item list-group-item-dark";
                switch (event) {
                    case "Changed":
                        className = "list-group-item list-group-item-warning";
                        break;
                    case "Created":
                        className = "list-group-item list-group-item-success";
                        break;
                    case "Deleted":
                        className = "list-group-item list-group-item-danger";
                        break;
                    case "Renamed":
                        className = "list-group-item list-group-item-primary";
                        break;
                }

                return className;
            }
        });
    </script>
</body>
</html>
